@for $i from 0 to 10 {
  .cell:nth-child(10n + #{$i + 1}):hover ~ .content {
     --squareWidth: #{100 + $i * 20}px;
   }
   .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover ~ .content {
     --squareHeight: #{100 + $i * 20}px;: #{$i};
   }
 }

body {
  background-color: rgba(0, 0, 0, 0.1);
}

.d3-tip-map {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  opacity: 1;
}

.d3-tip-line {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  opacity: 1;
}

.line_chart_tooltip {
  line-height: 1;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 18px;
  opacity: 1;
}

.line_chart_yaxis text{
    fill: #000;
    font-size: 12px;
    font-family: sans-serif;
}
.worldMap {
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.918);
  margin-left: 10px;
  /* margin-right: 10px; */
  /* margin-top: 10px; */
  margin: 0 10px;
}

.map path {
    stroke: #000;
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 15px;
    border-radius: 5px;  
    background: #0000004f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #0465aa;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0465aa;
    cursor: pointer;
  }

.selector {
  width: 85%;
  font-size: 0.9em;
}

.margin-adjust {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 10px
}

.base-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 470px;
  width: 1900px;
}

.interaction_container {
  display: flex;
  margin: 10px 0 0 10px;
  padding: 10px 10px;
  font-size: 1.6em;
  box-shadow: 0 0 10px silver;
  background-color: white;
  border-radius: 10px;
  height: 433.5px;
  flex-grow: 1;

  max-width: 597px;
}

.interaction-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  /* margin: 0 20px; */
}

.reset-map-btn {
  font-size: 0.8em;
}

.barchart-container, .linechart-container {
  display: inline-block;
}

.worldMapDiv, .barchart-container, .linechart-container {
  margin-top: 10px;
  padding: 10px 5px;
  box-shadow: 0px 0px 10px silver;
  background-color: white;
  border-radius: 10px;
}

.worldMapDiv {
  max-width: 1220px;
}

.barchart-container {
  flex: 1;
}

.linechart-container {
  margin-left: 10px;
  padding: 10px 20px;
  max-width: 890px;
}

.below {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#barchart {
  /* padding-top: 5px; */
  height: 330px;
  width: 917px;
  overflow-y: auto;
  overflow-x: hidden;
}

#barchart text {
  font-size: 16px;
  /* font-weight: bold; */
}

.bar-chart-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.map-chart-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.line-chart-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: relative;
  top: 3px;
  min-height: 58px;
}

span {
  font-size: 1em;
  font-style: italic;
}

.info {
  font-size: 1.2em;
}